@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

body{
    display:grid;
    background-color: #edeef6;
}

.containerh{
    margin: 0 0 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gugi', cursive;
    color: white;
    background-color: rgb(42, 42, 45) !important;
}


#div1{
    padding: 2rem;
    align-items: center;
}

#contenedor-principal {
    position: relative;
}

#imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* establece un z-index menor que el de la imagen superpuesta */
}

#deve_super {
    position: absolute;
    top: 390px;
    left: 305px;
    z-index: 2;
}
#deve_super2 {
    position: absolute;
    top: 390px;
    left: 305px;
    z-index: 2;
}
#deve_super3 {
    position: absolute;
    top: 390px;
    left: 305px;
    z-index: 2;
}
#deve_super4 {
    position: absolute;
    top: 390px;
    left: 305px;
    z-index: 2;
}
#deve_super5 {
    position: absolute;
    top: 390px;
    left: 305px;
    z-index: 2;
}
#deve_super6 {
    position: absolute;
    top: 390px;
    left: 305px;
    z-index: 2;
}

#imagen-superpuesta {
    position: absolute;
    top: 20px;
    left: 1270px;
    z-index: 2; /* establece un z-index mayor que el de la imagen de fondo */
}

.botonimgdado{
    background-image: url(img/1.svg);
    width: 80pt;
    height: 80pt;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#tabla{
    position: absolute;
    top: 180px;
    left:400px;
    z-index: 2;
    font-size: 9px;
    border: 1px solid black;
}

#box1{
    position: absolute;
    top: 510px;
    left: 340px;
    z-index: 2;
    width: 90px;
    height: 90px;
    /*border: 1px solid black;*/
}
#box2{
    position: absolute;
    top: 510px;
    left: 500px;
    z-index: 2;
    width: 90px;
    height: 90px;
}

#box3{
    position: absolute;
    top: 510px;
    left: 680px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box4{
    position: absolute;
    top: 510px;
    left: 850px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box5{
    position: absolute;
    top: 510px;
    left: 1030px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box6{
    position: absolute;
    top: 370px;
    left: 1080px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box7{
    position: absolute;
    top: 240px;
    left: 1080px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box8{
    position: absolute;
    top: 115px;
    left: 1070px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box9{
    position: absolute;
    top: 90px;
    left: 850px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box10{
    position: absolute;
    top: 90px;
    left: 680px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box11{
    position: absolute;
    top: 90px;
    left: 500px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box12{
    position: absolute;
    top: 90px;
    left: 280px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box13{
    position: absolute;
    top: 240px;
    left: 210px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box14{
    position: absolute;
    top: 370px;
    left: 210px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box15{
    position: absolute;
    top: 550px;
    left: 230px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box16{
    position: absolute;
    top: 600px;
    left: 500px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box17{
    position: absolute;
    top: 600px;
    left: 680px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box18{
    position: absolute;
    top: 600px;
    left: 850px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box19{
    position: absolute;
    top: 550px;
    left: 1130px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box20{
    position: absolute;
    top: 370px;
    left: 1170px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box21{
    position: absolute;
    top: 240px;
    left: 1170px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box22{
    position: absolute;
    top: 20px;
    left: 1100px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box23{
    position: absolute;
    top: 2px;
    left: 850px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box24{
    position: absolute;
    top: 2px;
    left: 680px;
    z-index: 2;
    width: 90px;
    height: 90px;
}
#box25{
    position: absolute;
    top: 2px;
    left: 500px;
    z-index: 2;
    width: 90px;
    height: 90px;
}

#bot1{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    top: 520px;
    left: 340px;
    z-index: 2;
    background-color: lightgray;
}
#bot2{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    top: 545px;
    left: 520px;
    z-index: 2;
    background-color: black;
    color: white;
}
#bot3{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    top: 542px;
    left: 698px;
    z-index: 2;
    
}
#bot4{
    position: absolute;
    border-radius: 50%;
    top: 542px;
    left: 891px;
    z-index: 2;
    width: 30px;
    background-color: black;
    color: white;
}
#bot5{
    position: absolute;
    border-radius: 50%;
    top: 527px;
    left: 1070px;
    z-index: 2;
    width: 30px;
}
#bot6{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 381px;
    left: 1111px;    
}
#bot7{
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    z-index: 2;
    background-color: black;
    color: white;
    top: 265px;
    left: 1111px;
}
#bot8{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 146px;
    left: 1080px;
}
#bot9{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 116px;
    left: 891px;
    background-color: black;
    color: white;
}
#bot10{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 118px;
    left: 700px;
}
#bot11{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 115px;
    left: 525px;
    background-color: black;
    color: white;
}
#bot12{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 145px;
    left: 258px;
}
#bot13{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 280px;
    left: 246px;
}
#bot14{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 395px;
    left: 246px;
    background-color: black;
    color: white;
}
#bot15{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 575px;
    left: 285px;
}
#bot16{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 615px;
    left: 523px;
    background-color: black;
    color: white;
}
#bot17{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 615px;
    left: 700px;
}
#bot18{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 615px;
    left: 890px;
    background-color: black;
    color: white;
}
#bot19{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 590px;
    left: 1153px;
}
#bot20{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 383px;
    left: 1190px;
    background-color: black;
    color: white;
}
#bot21{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 270px;
    left: 1200px;
}
#bot22{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 82px;
    left: 1153px;
}
#bot23{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 40px;
    left: 890px;
    background-color: black;
    color: white;
}
#bot24{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 48px;
    left: 698px;
}
#bot25{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    z-index: 2;
    top: 45px;
    left: 520px;
    background-color: black;
    color: white;
}